In [1]:
import pandas as pd

In [10]:
# importar arquivo
tabela = pd.read_csv('./municipios.csv')

In [11]:
tabela.head()

,municipio,uf,uf_code,name,mesoregion,microregion,rgint,rgi,osm_relation_id,wikidata_id,is_capital,wikipedia_pt,lon,lat,no_accents,slug_name,alternative_names,pop_21
0,1100015,11,RO,Alta Floresta d'Oeste,1102,11006,1102,110005,325842,Q1761456,NaN,Alta Floresta d'Oeste,-61.999824,-11.935540,Alta Floresta d'Oeste,alta-floresta-doeste,NaN,22516
1,1100023,11,RO,Ariquemes,1102,11003,1101,110002,325888,Q1646975,NaN,Ariquemes,-63.033269,-9.908463,Ariquemes,ariquemes,NaN,111148
2,1100031,11,RO,Cabixi,1102,11008,1102,110006,325882,Q940433,NaN,Cabixi,-60.544314,-13.499763,Cabixi,cabixi,NaN,5067
3,1100049,11,RO,Cacoal,1102,11006,1102,110005,325872,Q1761637,NaN,Cacoal,-61.442944,-11.433865,Cacoal,cacoal,NaN,86416
4,1100056,11,RO,Cerejeiras,1102,11008,1102,110006,325883,Q1803210,NaN,Cerejeiras,-60.818426,-13.195033,Cerejeiras,cerejeiras,NaN,16088

In [19]:
selecao_capital = tabela.query('is_capital == True')
selecao_capital.reset_index(drop=True)

,municipio,uf,uf_code,name,mesoregion,microregion,rgint,rgi,osm_relation_id,wikidata_id,is_capital,wikipedia_pt,lon,lat,no_accents,slug_name,alternative_names,pop_21
0,1100205,11,RO,Porto Velho,1101,11001,1101,110001,325855,Q172512,True,Porto Velho,-63.831446,-8.768892,Porto Velho,porto-velho,NaN,548952
1,1200401,12,AC,Rio Branco,1202,12004,1201,120001,326253,Q171612,True,Rio Branco,-67.810529,-9.978299,Rio Branco,rio-branco,NaN,419452
2,1302603,13,AM,Manaus,1303,13007,1301,130001,332493,Q40236,True,Manaus,-60.023335,-3.134691,Manaus,manaus,NaN,2255903
3,1400100,14,RR,Boa Vista,1401,14001,1401,140001,326286,Q181056,True,Boa Vista (Roraima),-60.670533,2.816682,Boa Vista,boa-vista,NaN,436591
4,1501402,15,PA,Belém,1503,15007,1501,150001,185567,Q12829733,True,Belém (Pará),-48.487826,-1.459845,Belem,belem,NaN,1506420
5,1600303,16,AP,Macapá,1602,16003,1601,160001,331473,Q180215,True,Macapá,-51.057405,0.038951,Macapa,macapa,NaN,522357
6,1721000,17,TO,Palmas,1702,17006,1701,170001,336798,Q178993,True,Palmas,-48.351044,-10.163253,Palmas,palmas,NaN,313349
7,2111300,21,MA,São Luís,2101,21002,2101,210001,332923,Q28441,True,São Luís (Maranhão),-44.297919,-2.531886,Sao Luis,sao-luis,NaN,1115932
8,2211001,22,PI,Teresina,2202,22003,2201,220001,302749,Q165341,True,Teresina,-42.805270,-5.086342,Teresina,teresina,NaN,871126
9,2304400,23,CE,Fortaleza,2303,23016,2301,230001,302588,Q43463,True,Fortaleza,-38.589928,-3.723805,Fortaleza,fortaleza,NaN,2703391
10,2408102,24,RN,Natal,2404,24018,2401,240001,301091,Q131620,True,Natal (Rio Grande do Norte),-35.252255,-5.750899,Natal,natal,NaN,896708
11,2507507,25,PB,João Pessoa,2504,25022,2501,250001,301405,Q167436,True,João Pessoa,-34.873385,-7.149382,Joao Pessoa,joao-pessoa,NaN,825796
12,2611606,26,PE,Recife,2605,26017,2601,260001,303585,Q48344,True,Recife,-34.888942,-8.062762,Recife,recife,NaN,1661017
13,2704302,27,AL,Maceió,2703,27011,2701,270001,303815,Q168888,True,Maceió,-35.701630,-9.660822,Maceio,maceio,NaN,1031597
14,2800308,28,SE,Aracaju,2803,28011,2801,280001,303928,Q170578,True,Aracaju,-37.048213,-10.907216,Aracaju,aracaju,NaN,672614
15,2927408,29,BA,Salvador,2905,29021,2901,290001,362362,Q36947,True,Salvador (Bahia),-38.488061,-13.014772,Salvador,salvador,NaN,2900319
16,3106200,31,MG,Belo Horizonte,3107,31030,3101,310001,368782,Q42800,True,Belo Horizonte,-43.926453,-19.937524,Belo Horizonte,belo-horizonte,NaN,2530701
17,3205309,32,ES,Vitória,3203,32009,3201,320001,1825817,Q168376,True,Vitória (Espírito Santo),-40.322209,-20.320154,Vitoria,vitoria,NaN,369534
18,3304557,33,RJ,Rio de Janeiro,3306,33018,3301,330001,2697338,Q8678,True,Rio de Janeiro (cidade),-43.227875,-22.876652,Rio de Janeiro,rio-de-janeiro,NaN,6775561
19,3550308,35,SP,São Paulo,3515,35061,3501,350001,298285,Q174,True,São Paulo (cidade),-46.570383,-23.567387,Sao Paulo,sao-paulo,NaN,12396372
20,4106902,41,PR,Curitiba,4110,41037,4101,410001,297514,Q4361,True,Curitiba,-49.271848,-25.432956,Curitiba,curitiba,NaN,1963726
21,4205407,42,SC,Florianópolis,4205,42016,4201,420001,296561,Q132997,True,Florianópolis,-48.547637,-27.587796,Florianopolis,florianopolis,NaN,516524
22,4314902,43,RS,Porto Alegre,4305,43026,4301,430001,242397,Q40269,True,Porto Alegre,-51.228660,-30.030037,Porto Alegre,porto-alegre,NaN,1492530
23,5002704,50,MS,Campo Grande,5002,50004,5001,500001,334022,Q168929,True,Campo Grande,-54.615744,-20.458030,Campo Grande,campo-grande,NaN,916001
24,5103403,51,MT,Cuiabá,5104,51017,5101,510001,333734,Q170762,True,Cuiabá,-56.073252,-15.569989,Cuiaba,cuiaba,NaN,623614
25,5208707,52,GO,Goiânia,5203,52010,5201,520001,334547,Q83189,True,Goiânia,-49.255814,-16.673310,Goiania,goiania,NaN,1555626
26,5300108,53,DF,Brasília,5301,53001,5301,530001,2758138,Q2844,True,Plano Piloto (região administrativa),-47.887905,-15.794087,Brasilia,brasilia,NaN,3094325

In [50]:
mask = selecao_capital.sort_values(by='uf_code').reset_index(drop=True)
qtd_dados = len(mask.index)
json_todas_cidades = {}
for index in range(0,qtd_dados):
    cidade_nova = {
        'municipio': mask.iloc[index]['municipio'],
        'uf': mask.iloc[index]['uf'],
        'uf_code': mask.iloc[index]['uf_code'],
    }
    #print(cidade_nova)
    json_todas_cidades.update(cidade_nova)
print(json_todas_cidades)

{'municipio': 1721000, 'uf': 17, 'uf_code': 'TO'}

In [46]:
mask.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   municipio          27 non-null     int64
 1   uf                 27 non-null     int64
 2   uf_code            27 non-null     object
 3   name               27 non-null     object
 4   mesoregion         27 non-null     int64
 5   microregion        27 non-null     int64
 6   rgint              27 non-null     int64
 7   rgi                27 non-null     int64
 8   osm_relation_id    27 non-null     int64
 9   wikidata_id        27 non-null     object
 10  is_capital         27 non-null     object
 11  wikipedia_pt       27 non-null     object
 12  lon                27 non-null     float64
 13  lat                27 non-null     float64
 14  no_accents         27 non-null     object
 15  slug_name          27 non-null     object
 16  alternative_names  0 non-null      object
 17  pop_21             27 non-null     int64
dtypes: float64(2), int64(8), object(8)
memory usage: 3.9+ KB

In [35]:
'''
opcao = int(input('Qual o ID desejado?'))
resposta = {
    'uf_code': mask.iloc[opcao]['uf_code'],
    'name': mask.iloc[opcao]['name'],
}
'''

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   municipio          27 non-null     int64
 1   uf                 27 non-null     int64
 2   uf_code            27 non-null     object
 3   name               27 non-null     object
 4   mesoregion         27 non-null     int64
 5   microregion        27 non-null     int64
 6   rgint              27 non-null     int64
 7   rgi                27 non-null     int64
 8   osm_relation_id    27 non-null     int64
 9   wikidata_id        27 non-null     object
 10  is_capital         27 non-null     object
 11  wikipedia_pt       27 non-null     object
 12  lon                27 non-null     float64
 13  lat                27 non-null     float64
 14  no_accents         27 non-null     object
 15  slug_name          27 non-null     object
 16  alternative_names  0 non-null      object
 17  pop_21             27 non-null     int64
dtypes: float64(2), int64(8), object(8)
memory usage: 3.9+ KB

In [53]:
# montando dados via pandas
import json
selecao_capital = tabela.query('is_capital == True')
mask = selecao_capital.sort_values(by='uf_code').reset_index(drop=True)
tabela_json = mask.to_json()

# criando novo JSON
qtd_dados = len(mask.index)
dict_todas_cidades = {}
for index in range(0,qtd_dados):
    cidade_nova = {
        'municipio': str(mask.iloc[index]['municipio']),
        'uf': str(mask.iloc[index]['uf']),
        'uf_code': str(mask.iloc[index]['uf_code']),
    }
    #print(cidade_nova)
    dict_todas_cidades |= cidade_nova

# coverter em JSON
json_todas_cidades = json.dumps(dict_todas_cidades)
print(json_todas_cidades)

{"municipio": "1721000", "uf": "17", "uf_code": "TO"}